<div class="centered-content">
  <div class="task-manager-container">

    <div class="sidebar has-background-white">
      <h1 class="title has-text-primary">
        Menu
      </h1>

      <div class="list-menu">

        <a class="list-menu-item is-active">
          Dodaj pomiar
        </a>

        <a class="list-menu-item">
          Wszystkie pomiary
        </a>

        <div class="box-info">

          <h3 class="list-menu-item-info">Uśrednione wyniki:</h3>

          <p class="list-menu-item-info">
            <span>7 dni:</span>
            <span> 125 mg/cl</span>
          </p>
          <p class="list-menu-item-info">
            <span>30 dni:</span>
            <span> 125 mg/cl</span>
          </p>
          <p class="list-menu-item-info">
            <span>90 dni:</span>
            <span> 125 mg/cl</span>
          </p>
        </div>

      </div>




    </div>

    <div class="tasks-list-container has-background-light">
      <h1 class="title has-text-primary">
        Kalendarz
      </h1>

    </div>

  </div>
</div>
